<style>
    #myHeader {
    color: rgb(255, 0, 0);
    padding: 20px;
    text-align: center ;
    } 
  </style>
        </head>
        <body>
                
        <h1 id="myHeader">Börzsöny</h1>
} 
<style>
    #p2 {
    color: rgb(255, 0, 0);
    padding: 20px;
    font-size: 80px;
    text-align: center ;
    }
</style>
       